<div id="customer{{customerInfo.customerid}}">
    <p>Name: {{customerInfo.name}} Address: {{customerInfo.address}}</p>
    <form action="" method="POST" class="form-horizontal" role="form">
        <div class="form-group">
        </div>
        <div class="form-group">
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <label>Name : </label>
            </div>
            <div class="col-sm-6 col-sm-offset-2">
                <input type="text" id="input" class="form-control" value="" required="required" pattern="" title="" ng-model="customerInfo.name">
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <label>Address : </label>
            </div>
            <div class="col-sm-6 col-sm-offset-2">
                <input type="text" id="input" class="form-control" value="" required="required" pattern="" title="" ng-model="customerInfo.address">
            </div>
        </div>
    </form>
    <a class="btn btn-success" data-toggle="modal" href='#questionEdit{{customerInfo.customerid}}'>Edit</a>
    <div class="modal fade" id="questionEdit{{customerInfo.customerid}}">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Edit Details</h4>
                </div>
                <div class="modal-body">
                    <form action="" method="POST" class="form-horizontal" role="form">
                        <div class="form-group">
                        </div>
                        <div class="form-group">
                            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                <label>Name : </label>
                            </div>
                            <div class="col-sm-6 col-sm-offset-2">
                                <input type="text" id="input" class="form-control" value="" required="required" pattern="" title="" ng-model="customerInfo.name">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                <label>Address : </label>
                            </div>
                            <div class="col-sm-6 col-sm-offset-2">
                                <input type="text" id="input" class="form-control" value="" required="required" pattern="" title="" ng-model="customerInfo.address">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>
